.container{
    margin:0px;
    padding: 0px;
    width: 100%;
    max-width: 2000px;
    height: 100%;
}

a:hover{
    color: rgb(190, 188, 188);
}

header{
   margin-bottom: 10px;
    width: 100%;
    z-index: 25;
    
}

body {
    max-height: 100vh;
	height: 100%;
	width: 100%;
	background: white;
	margin:	auto;
	padding: 0;
}

.navbar {
    position: static;
  

    margin: 0;
    padding: 0;
    width: 100%;
    background: #4169E1;
}

.navbar-brand{
    color: white;
    font: "Open Sans";
    font-size: 26px;
    margin-left: 20%;
	font: bold;
}

button {
    background-color: #4169E1;
    border: none;
    color: white;
    padding: 15px 32px;
    width:  150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: arial;
}

button:hover  {
    background-color: rgb(5, 45, 175);
    color: white;
}




input.title{
    background-color: #4169E1;
    border: none;
    color: white;
    padding: 10px 24px;
    width:  150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: arial;
    margin: 2px;
}

input.title:hover  {
    background-color: rgb(5, 45, 175);
    color: white;
}

.lead {
    background-color: #4169E1;
    color: white;
    padding: 14px 25px;
    margin: 10px;
    width:  150px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: arial;
}

a:hover.lead , a:active.lead  {
    background-color: rgb(5, 45, 175);
    color: white;
    text-decoration: none;
}

/*Login*/
.navbarlogin {
    float: left;
    top: 0px;
    margin-bottom: 20px;
    padding: 0;
    width: 1000px;
    background: #4169E1;
}
.login{
    margin-top: 100px;
    margin: auto;
    width: 400px;
    border: 3px solid green;
    padding: 20px;
    text-align: center;
}



label {
    display: block;
}

p.or{
    padding: auto;
    margin-top: 20px;
}

img.sociallink{
    width: 250px;
    
}

/*Signup*/

form.signup{
        display: block;
        margin-top: 100px;
        margin: auto;
        width: 400px;
        border: 3px solid green;
        padding: 20px;
        text-align: center;
}


/*Home page*/
h1{
    color: white;
    margin-left: 20px;
    z-index: 20;
}
.my-grid{
    width: 100%;
    margin: auto;
}
.right-panel{
    
    position: fixed;
    padding-top: 80px;
    top: 0px;
    padding-bottom: 176px;
    float: right;
    z-index: -2;
    right: 0;
    height: 100vh;
    background-color: rgba(131, 177, 238, 0.486);
    width: 40%;
}
.right-panel a{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.right-panel h2{
    text-align: center;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left-panel{

    position: fixed;
    top: 0px;
    float: left;
    background-image: url("homeback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 100vh;
    z-index: -1;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
}

/*Search (List of askrooms)*/
input{
    background-color: white;
    border-style:solid;
    border-width: thin; 
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: arial;

}

input:hover  {
    background-color: white;
    color: black;
}

.asklistright{
    position: fixed;
    right: 40%;
    margin: 10px;
}

button.addAskroomb{
    display: block;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.addAskroom{
    margin: 20px;
    align-items: left;
    justify-content: left;
    text-align: left;
    display: none;
}

.asklist{
    left: 0px;
    display: flex;
    width: 45%;
    border-top-style: groove;
    border-width: thin;
    text-align: left;
    
    align-items: left;
    justify-content: left;
    margin: auto;
    margin-left: 20px;
}

.askcontent{
    width: 90%;
}

a.askroomname{
   font-size: 28px;
   font-weight: bold;
   margin-right: 100%;
   margin-left: 3%;
}

p.askroomfdesc{
    margin-top: 10px;
    margin-left: 3%;
    font-size: 16px;
}

p.askroomf1{
    margin-left: 3%;
    display:inline-block;
    font-size: 11px;
    color: gray;
    bottom: 20px;
    float: left;
}

p.askroomf2{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    display:block;
    font-size: 11px;
    color: gray;
    float: right;
    bottom:0px;
}

select.confirm{
    margin:2px;
}

.askdelete{
    float: none;
   
}

@media only screen and (max-width: 1200px){
    .asklistright{
        position: static;
        
        margin: 10px;
    }
}

/*Questions*/

input.qcont, input.qedit{
    background-color: white;
    border-style:solid;
    border-width: thin; 
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: arial;
}

input.qcont:hover, input.qedit:hover  {
    background-color: white;
    color: black;
}

.quelist{
    left: 0px;
    display: block;
    width: 45%;
    border-top-style: groove;
    border-width: thin;
    text-align: left;

    align-items: left;
    justify-content: left;
    margin: auto;
    margin-left: 20px;
}

.qcontent{
    margin-bottom: 15px;
}

p.question1{
    margin-left: 3%;
    display:inline-block;
    font-size: 11px;
    color: gray;
    bottom: 20px;
   
}

.question2{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    display:block;
    font-size: 11px;
    color: gray;
    float: right;
    bottom:0px;
}

.edit{
    background-color: #4169E1;
    border: none;
    color: white;
    padding: 10px 24px;
    width:  70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family: arial;
    margin: 2px;
}

p.quest2{
    margin-top: 10px;
    margin-left: 3%;
    font-size: 24px;

}