{% extends "panel/layout.html" %}

{% block content %}
{% if user.is_authenticated %}
	<a href="http://127.0.0.1:8000/panel/ShowQuestions/{{roomID}}/">Return to the room</a>
<h3>Edit question </h3>

<form action="#" method="POST">
{% csrf_token %}

{% if question.submitted_by|stringformat:'s' == user.get_username %}
content : <input type="text" name="content"/><br/>
<input type="submit" value="Edit"/>

{% endif %}
</form>
	{% else %}
	
	 <p><a class="lead" href="{% url 'home' %}">Please log-in first:</a></p>
	{% endif %}
{% endblock content %}