{% extends "panel/layout.html" %}

{% block content %}
<p><a  href="{% url 'search' %}">Choose another room </a></p>
{% if user.is_authenticated %}
	
	<p><a class="lead" href="http://127.0.0.1:8000/panel/AddQuestion/{{roomID}}">AddQuestion</a></p>
<ul>
<b>Create new question:</b>
  <form   action= "#" method="POST" id="NewQ" >
{% csrf_token %}
content : <br><input type="text" name="content" id="content"/></br>

<input type="hidden" value="user.username" name="social_created_by"  id="CreatedBy"/>
<input type="hidden" name="IdentifyQ"  id="IdentifyQ"/>
<input type="hidden" value="{{roomID}}" name="askroom_id" id="askroomID"/>
<input type="submit" value="Create question"/>
</form>

    <p></p>
      <p>------------------------------------------------------------------------------</p>    

{% for question in questions %}

  {% if question.submitted_by|stringformat:'s' == user.get_username %}
 
  <form action="" method="POST">
{% csrf_token %}

<input type="submit" value="Delete question"/>
<input type="hidden" name="IdentifyDelete"/>
<input type="hidden" name="qID" value={{question.id}}/>
</form>
Edit question:
<form action="#" method="POST" id="Edits" >
{% csrf_token %}
content : <p><input type="text" name="content" id="content"/><br/></p>
<input type="submit" value="Edit"/>
<input type="hidden" name="IdentifyEdit"  id="IdentifyEdit"/>
<input type="hidden" name="qID" value="{{question.id}}" id="qID" />
</form>
{% endif %} 
 <p><b>content of question:</b></p>{{ question.content }}</p>
 {% if question.previous_version is not None %}
 <p> This question has been edited. To see all versions click <a href="http://127.0.0.1:8000/panel/{{roomID}}/ShowVersions/{{question.id}}/">here</a></p>
 {% endif %}
 <p><b>question creator: </p> </b><p> {{ question.submitted_by }}</p>
 <p><b>date of creation: </p></b>{{ question.time_submitted }}</p> 

 <p><b>question id: </p></b>{{question.id}}</p>
  <p><b>score :</p></b><p> {{ question.score }}</p> 
{% if question.submitted_by|stringformat:'s' != user.get_username %}
  {% if question.id not in voting %}
  <p><b>Vote for this question :</p></b>
  {% else %}
   <p><b>Edit your vote: </p></b>
   {% endif %}
 <form  class ="voting" method="POST"  >
<select name="value" class="value" value=" "  id="value">
    <option value=" "></option>
    <option value="0">0</option>
    <option value="1">+</option>
    <option value="-1">-</option>      
</select>
 <input type="hidden"  name="question_id" value={{question.id}} class="question_id1" id="question_id"/>

<input type="hidden"  name="user_id" value="{{user.id}}" class="user_id" id="user_id" />
<input type="hidden"  name="IdentifyVote" class= "IdentifyVote" id= "IdentifyVote"/>

<input type="submit" value="Vote"/>

</form>

 {% endif %}
  <p>------------------------------------------------------------------------------</p>    

{% endfor %}

	{% else %}
	
	 <p><a class="lead" href="{% url 'home' %}">Please log-in first:</a></p>
	{% endif %}
 <script  type="text/javascript"  src="\static\scripts\main.js"></script>
{% endblock content %}

