{% extends "panel/layout.html" %}
{% block content %}
{% if user.is_authenticated %}

<!--Add askroom -->
<div class="asklistright">
<button class="addAskroomb"  id="addAskroomb"  onclick="addAskroom()">Add askroom</button>
</div>
    <div class="addAskroom" style="display: none"  id="addAskroom">
        <h1 style="color:black">Create room </h1>
        <form action="#" method="POST" id="rooms">
            {% csrf_token %}
            Title : <input type="text" name="title" id="title"/><br/>
            <p>Type of room: </p>
            <select name="public" id= "public">
                <option value="True">Public</option>
                <option value="False">Private</option>       
            </select> 
            <br><br>
            description : <br/>
            <textarea cols="35" rows="3" name="description" id="description">
            </textarea><br/>
            <input class="title" type="submit" value="Create room"/>
            <input type="hidden" value="{{user.id}}" name="social_created_by" id="CreatedBy" />
            <input type="hidden" name="IdentifyAddRoom"/>
        </form>
    </div>

<!--List of askrooms -->
{% for room in rooms %}
<div class="asklist">

    <div class="askcontent">
        <a class="askroomname" href="{% url 'ShowQuestions' room.id %}">{{ room.title }}</a>
        <p class="askroomfdesc"> Description: {{room.description}}</p>
        <p class="askroomf1"> Created by: {{room.created_by}}</p>
        <p class="askroomf2"> Date of creation: {{ room.time_created }}</p>      
        <!--<p> room id: {{room.id}}</p>-->
    </div>
    
    {% if room.created_by|stringformat:'s' == user.get_username %}
    <form action="" method="POST" class="DeleteRoom">
        {% csrf_token %}
        <select name="confirm" class="confirm" value=" "  id="confirm">
            <option value="No">No</option>
            <option value="Yes">Yes</option>    
        </select>
        <input class="title" type="submit" value="Delete room" />
        <input type="hidden" name="IdentifyDeleteRoom"/>
        <input type="hidden" name="rID" value={{room.id}} id="rID" class="rID"/>
    </form>
    
{% endif %}
</div>	
{% endfor %}

{% else %}
	
<p><a class="lead" href="{% url 'home' %}">Please log-in first:</a></p>
{% endif %}
<script>
    function addAskroom() {
      var x = document.getElementById("addAskroom");
      if (x.style.display === "none") {
          x.style.display = "block";
      } else {
          x.style.display = "none";
      }
      document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
  </script>



<script  src="\static\scripts\main.js"></script>
{% endblock content %}
    

